@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-geist: var(--font-geist-sans), system-ui, sans-serif;
  --font-family-public: var(--font-public-sans), system-ui, sans-serif;
  --font-family-inter: var(--font-inter), system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}
